<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="style/base.css?v=_VERSION_"/>
    <link rel="stylesheet" href="style/index.css?v=_VERSION_"/>
</head>
<body>
<a id="returnUrl" href=""></a>
<!--网络不给力-->
<section class="error_net ng-cloak" ng-show="netWorkNotOn">
    <div class="error_net_content_wrap">
        <div class="error_net_icon network"></div>
        <div class="error_net_text">
            <p class="error_net_detail">网络连接失败，请检查一下网络设置</p><!--77-->
            <div class="error_net_button" ng-click="tapToReload()">再试试</div>
        </div>
    </div>
</section>
<!--网络不给力-->
<section class="error_net ng-cloak" ng-show="netWorkError">
    <div class="error_net_content_wrap">
        <div class="error_net_icon network"></div>
        <div class="error_net_text">
            <p class="error_net_detail">网络不给力，再试试</p>

            <div class="error_net_button" ng-click="tapToReload()">再试试</div>
            <!--55-->
        </div>
    </div>
</section>
<!--网络不给力-->
<section class="error_net ng-cloak" ng-show="serverCrash">
    <div class="error_net_content_wrap">
        <div class="error_net_icon melt"></div>
        <div class="error_net_text">
            <p class="error_net_detail">服务器偷懒了，先去其他页面逛逛吧</p><!--88-->
            <div class="error_net_button" ng-click="tapToReload()">再试试</div>
        </div>
    </div>
</section>
<ui-view ng-hide="netWorkError || netWorkNotOn || serverCrash"></ui-view>
</body>

<script src="js/libs/bridge.1.3.0.js?v=_VERSION_"></script>
<!-- build:js js/libs/libs.min.js?v=_VERSION_ -->
<script src="js/libs/angular.min.js"></script>
<script src="js/libs/angular.touch.min.js"></script>
<script src="js/libs/zepto.20140520.js"></script>
<script src="js/libs/angular.ui.bootstrap.js"></script>
<script src="js/libs/angular-sanitize.min.js"></script>
<script src="js/libs/angular-ui-route.min.js"></script>
<script src="js/libs/fastclick.0.6.7.min.js"></script>
<script src="js/libs/carous.min.js"></script>
<!-- /build -->

<script src="js/config/config.js?v=_VERSION_"></script>
<script src="js/app.js?v=_VERSION_"></script>
<script src="js/service/TrackDataService.js?v=_VERSION_"></script>
<script src="js/service/APIService.js?v=_VERSION_"></script>
<script src="js/service/DService.js?v=_VERSION_"></script>
<script src="js/controllers/indexCtrl.js?v=_VERSION_"></script>
<script src="js/directive/lazy.js?v=_VERSION_"></script>
<script src="js/directive/slider.js?v=_VERSION_"></script>
<script src="js/filter/filters.js?v=_VERSION_"></script>
</html>
